# Hands-On Lab 1 - EDA

In this lab you will perform exploratory data analysis (EDA) on the *Titanic* dataset. The findings of this lab will be used in future labs in crafting features to train a Titanic machine learning model.

## Titanic Data Profiling

### Step 1 - Load Data

The *titantic_train.csv* file is the training dataset. Run the following code cell to load the dataset.

In [1]:
import pandas as pd

# Load Titanic training data from CSV file
titanic_train = pd.read_csv('titanic_train.csv')
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Step 2 - Profile the Data

Assessing the quality of a dataset is the first step in a machine learning project. The *ydata-profiling* library provides rich functionality for profiling *pandas DataFrames*. Type the following code into the blank code cell in your lab notebook and run it to produce the results.

In [2]:
# Enter your lab code here

## Titanic Data Visualization

### Step 19 - Visualize Pclass and Sex

We know from the data profiling *Alerts* that the *Sex* feature is highly correlated with *Survived*. Evaluating the combination of *Sex* with other features in terms of *Survived* can provide valuable information for building a machine learning model. 

The *Pclass* feature and *Survived* label are categorical but encoded as numeric. The *plotnine* library supports casting numeric features to categorical using *factor()*. Type the following code into the blank code cell in your lab notebook and run it to produce the results.

In [3]:
# Enter your lab code here

### Step 20 - Visalize Sex, Pclass, and Embarked

We know from the previous visualization that the combination of *Sex* and *Pclass* has a predictive relationship with *Survived*. Adding additional features (e.g., *Embarked*) to visualization may strengthen this predictive relationship. 

The *plotnine* library treats string data as categorical. Type the following code into the blank code cell in your lab notebook and run it to produce the results.

**NOTE** - Be sure to reuse previous code by copying, pasting, and modifying.

In [4]:
# Enter your lab code here

### Step 21 - Visualize Sex, Pclass, SibSp, and Parch

Data profiling showed the *SibSp* and *Parch* features are of good quality for machine learning purposes. Using faceted scatter plots allows for evaluating the potential of *Sex*, *Pclass*, *SibSp*, and *Parch* combined to predict *Survived*. Type the following code into the blank code cell in your lab notebook and run it to produce the results.

In [5]:
# Enter your lab code here

### Step 22 - Visualize Fare and Pclass

We might assume *Pclass* and *Fare* are highly correlated. For example, we know it is common for *1st class* tickets to cost more than *3rd class* tickets. However, it is always a good idea to validate assumptions with the data. Type the following code into the blank code cell in your lab notebook and run it to produce the results.

In [6]:
# Enter your lab code here

### Step 23 - Visualize Sex, Pclass, and Age

The data profiling shows that the *Age* feature cannot be used as-is due to too many missing values. However, the missing values of *Age* would need to be imputed to make *Age* a viable feature to use. The *plotnine* library can create data visualizations with missing values. It will issue you a warning that it has removed missing values. Type the following code into the blank code cell in your lab notebook and run it to produce the results.

In [7]:
# Enter your lab code here